* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

#header {
  display: flex;
  border-bottom: 3px solid rgb(202, 107, 159);
  background-color: rgb(0, 0, 0, 0.7);
  height: 15vh;
  align-items: center;
  justify-content: space-around;
}

#header h1 {
  color: rgb(202, 107, 159);
  
}

#header span {
  color: white;
}

.header__right {
  width: 20%;
}

.header__right ul {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  color: white;
  list-style-type: none;
}

.header__right li {
  text-transform: uppercase;
}

.header__right > li {
  color: rgb(202, 107, 159);
}

.header__right--navbar-home {
  color: rgb(202, 107, 159);
}

.section__hero {
  background-image: url(./pictures/showcase.jpg);
  height: 50vh;
  border-bottom: 3px solid rgb(202, 107, 159);
}

.section__hero--head {
  color: white;
  font-weight: 700;
  text-align: center; 
  font-size: 3rem;
}

.section__hero--para {
  color: white;
  font-weight: 500;
  text-align: center; 
}